*.pyc
all_good_vis/
__pycache__
*.tar
.idea
run/
bert_models/movies/**/*.tex
bert_models/movies/**/*.pt
bert_models/movies/**/*.pkl
bert_models/movies/**/identifier_results*.json
baselines/ViT/experiments/**/*.npy
baselines/ViT/visualizations/
data/movies/
imagenet/
BertData/
segmentation_results.log
pertubation_transformer_attr.log

